.modal-content {
    background-image: url("../../images/register.jpg");
    background-size: cover;
}
.modal-footer{
    color: rgb(253, 253, 253);
    font-weight: bold;
    font-size: larger;
    -webkit-text-stroke: 0.5px rgb(39, 46, 46);
    
}