body {
    background: url("../images/link.jpg") no-repeat center center fixed;
    background-size: cover;
}

.games-grid {
    .game-grid-sizer {
        width: 16.666667%;
    }
    .game-grid-item {
        width: 16.666667%;
    }
    .game-grid-featured {
        width: 33.333333%;
    }
    .game-item {
        margin: 6px;
    }
}

.image-container {
    height: 0;
    padding-bottom: 100%;
    display: block;
    img {
        width: 100%;
    }
}

.form-group{
    color: white;
}

.navbar{
background: linear-gradient(217deg, rgba(224, 54, 54, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(117, 150, 211, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

}

.nav-link {
    color: rgb(214, 214, 214) !important;
    -webkit-text-stroke: 0.1px rgb(39, 46, 46);
    font-size: large !important;
    }

.alpha{
    margin-right: 2rem;
}
