body {
    background: url("../images/tenor.gif") no-repeat center center fixed;
    background-size: cover;
}

.games-grid {
    .game-grid-sizer {
        width: 25%
    }
    .game-grid-item {
        width: 25%
    }
    .game-grid-featured {
        width: 50%
    }
    .game-item {
        margin: 6px;
    }
}
