body {
    background: url("../images/tenor.gif") no-repeat center center fixed;
    background-size: cover;
}

.games-grid {
    .game-grid-sizer {
        width: 16.666667%;
    }
    .game-grid-item {
        width: 16.666667%;
    }
    .game-grid-featured {
        width: 33.333333%;
    }
    .game-item {
        margin: 6px;
    }
}

.image-container {
    height: 0;
    padding-bottom: 100%;
    display: block;
    vertical-align: top;
    img {
        width: 100%;
    }
}
